:root {
  --fondo: #222222;
  --fondo-alt: #262626;
  --first-color: #ebcd47;
  --second-color: #45d7eb;
  --second-color-alt: #3f939e;
  --third-color: #da3beb;
  --third-color-alt: #92209e;
  --white: #fff;
  --white-alt: #ddd;
}
/* NAVBAR */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

body{
  background: radial-gradient(var(--fondo-alt) 50%, var(--first-color) 50% );
	animation: gradient 10s ;
	background-size: 400% 400%;
	height: 100vh;
  position: relative;
}

 @keyframes gradient {
	0% {
		background-position: 100% 50%;
	}
  50%{
    background-position: 50% 100%;
  }

	100% {
		background-position: 100% 100%;
	} 
} 


@media screen and (max-width: 768px){
  body{
    background: linear-gradient(45deg, var(--second-color), var(--second-color-alt),var(--third-color-alt),var(--third-color));
    animation: gradient 10s ease infinite;
	  background-size: 400% 400%;
	  height: 100vh;
    position: relative;
  }
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  
}
}

.titulo{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  font-size: 3rem;
  color: var(--white);
  text-transform: uppercase;
  letter-spacing: 2px;
  border: 3px solid var(--white);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 3rem 5rem;
  text-align: center;
  z-index:1;
}
@media screen and (max-width: 768px){
  .titulo{
    
    width: 70%;
  }
}


.nav-container {
  width: 100%;
  background-color: var(--fondo);
}

.navbar {
  display: grid;
  grid-template-columns: 0.2fr auto 1fr;
  align-items: center;
  height: 80px;
  width: 90%;
  max-width: 1720px;
  margin: 0 auto;
}

#navbar__logo {
  color: var(--white);
  justify-self: start;
  margin-left: 20px;
}

#navbar__logo {
  cursor: pointer;
}

.navbar__ul {
  display: grid;
  grid-template-columns: repeat(4, auto);
  list-style: none;
  text-align: center;
  width: 70%;
  justify-self: end;
}

.navbar__a {
  color: var(--white);
  text-decoration: none;
  position: relative;
  text-transform: uppercase;
}

.navbar__a:hover {
  color: var(--first-color);
  transition: all 0.2s ease-out;
}

.navbar__a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%) scaleX(0);
  -webkit-transform: translateX(-50%) scaleX(0);
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  width: 100%;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-transition: transform 250ms;
  transition: transform 250ms;
}

.navbar__a:hover::after {
  -webkit-transform: translateX(-50%) scaleX(1);
  transform: translateX(-50%) scaleX(1);
}

.menu__toggle .menu__bar {
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background: var(--white);
}

@media screen and (max-width: 768px) {
  .navbar {
    grid-template-columns: 1fr auto 1fr;
  }

  .nav-container {
    position: relative;
  }

  .navbar__ul {
    display: grid;
    grid-template-columns: auto;
    background: var(--second-color-alt);
    margin: 0;
    width: 100%;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 0;
    transition: all 0.5s ease;
    z-index: 50;
  }

  #navbar__logo {
    margin-left: 20px;
  }

  .navbar__ul.active {
    background: var(--fondo-alt);
    left: 0;
    opacity: 1;
    transition: 0.5s ease;
  }

  .navbar__a {
    text-align: center;
    line-height: 60px;
    width: 100%;
    display: table;
  }

  .navbar__a:hover {
    background-color: var(--second-color-alt);
    color: var(--white);
    transition: all 0.4s ease-out;
  }

  .navbar__a:hover::after {
    -webkit-transform: translateX(0) scaleX(0);
    transform: translateX(0) scaleX(0);
  }

  .navbar {
    width: 100%;
  }

  #mobile__menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .menu__toggle .menu__bar {
    display: block;
    cursor: pointer;
  }

  .menu__toggle:hover {
    cursor: pointer;
  }

  #mobile__menu.is-active .menu__bar:nth-child(2) {
    opacity: 0;
  }

  #mobile__menu.is-active .menu__bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile__menu.is-active .menu__bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

@media screen and (max-width: 540px) {
  #navbar__logo {
    font-size: 20px;
  }
}

/* FOOTER */

footer {
  position: absolute;
  bottom: 0;
}

.carousel {
  display: flex;
  align-items: center;
  position: relative;
}

.flecha-izquierda,
.flecha-derecha {
  position: absolute;
  border: none;
  background: rgba(0, 0, 0, 0.3);
  font-size: 40px;
  height: 50%;
  top: calc(50% - 25%);
  line-height: 40px;
  width: 50px;
  color: #fff;
  cursor: pointer;
  z-index: 500;
  transition: 0.2s ease all;
}

.flecha-izquierda:hover,
.flecha-derecha:hover {
  background: rgba(0, 0, 0, 0.9);
}

.flecha-izquierda {
  left: 0;
}

.flecha-derecha {
  right: 0;
}

.button__bar-left, .button__bar-right{
  display: block;
  width: 20px;
  height: 6.5px;
  margin: 5px auto;
  border-radius: 10px;
  background: var(--white-alt);
}

.button__bar-left:nth-child(1){
  transform: translateY(1px) rotate(-40deg);
}

.button__bar-left:nth-child(2) {
  transform: translateY(-1px) rotate(40deg);
}

.button__bar-right:nth-child(1){
  transform: translateY(1px) rotate(40deg);
}

.button__bar-right:nth-child(2){
  transform: translateY(-1px) rotate(-40deg);
}

.carousel__contenedor {
  width: 100%;
  padding: 20px 0;
  overflow: hidden;
  scroll-behavior: smooth;
}

.carousel__elemento {
  display: flex;
  flex-wrap: nowrap;
}

.carousel__album {
  min-width: 10%;
  transition: 0.3s ease all;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.carousel__album:hover {
  transform: scale(1.2);
  transform-origin: center;
}

.carousel__album img {
  width: 100%;
  vertical-align: top;
  outline: rgba(255, 255, 255, 0.9) solid 2px;
}

@media screen and (max-width: 1200px) {
  .carousel__album {
    min-width: 20%;
  }
}

@media screen and (max-width: 1000px) {
  .carousel__album {
    min-width: 25%;
  }
}

@media screen and (max-width: 768px) {
  .carousel {
    display: none;
  }
}
